{% extends 'main.html' %}
{% block head %}
<title> About Us | SF </title>
 <link rel="icon" href="img/core/foody.ico">
{% endblock %}

{% block body %}
    <header id="header">
        <h1 class="site-title">Safari Flavors</h1>
        <!-- Search bar -->
        <div class="search-bar">
            <input type="text" class="search-input" placeholder="Search for recipes...">
            <button class="search-btn" alt="Search"><i class='bx bx-search'></i></button>
        </div>
   
        <!-- Website navigation -->
        <ul class="nav-list">
            <li class="nav-item"><a href="/"><h2>Home</h2></a></li>
            <li class="nav-item"><a href="/recipe/Nigeria"><h2>Recipes For You</h2></a></li>
            <li class="nav-item"><a href="/about"><h2>About Us</h2></a></li>
        </ul>
    </header>

    <hr class="divider">

<div class="container">
    <img src="https://via.placeholder.com/150" alt="About Us" class="image">
    <div class="content">
        <p>Our website is dedicated to providing the best recipes from around Africa. We understand that food brings people together and this is our mission to bring the world closer through food.</p>

        <p>We are committed to ensuring our recipes are simple to follow, and use ingredients that are easily accessible. We hope that our website brings you joy, whether you are looking for a new recipe or seeking inspiration.</p>
    </div>

    <div class="contact-form">
        <h2>Contact Us</h2>
        <form>
            <input type="text" name="name" placeholder="Your Name">
            <textarea name="message" rows="5" placeholder="Your Message"></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="newsletter-section">
        <h2>Subscribe to Our Newsletter</h2>
        <form>
            <input type="email" name="email" placeholder="Your Email">
            <input type="submit" value="Subscribe">
        </form>
    </div>
</div>

<hr>

<footer class="footer-grid">
    <div class="footer-about">
        <h3 class="footer-title">About Us</h3>
        <p class="footer-text">Safari Flavors Family.</p>
    </div>
    <div class="footer-contact">
        <h3 class="footer-title">Contact Us</h3>
        <p class="footer-text">Email: safariflav@gmail.com</p>
    </div>
    <div class="footer-follow">
        <h3 class="footer-title">Follow Us</h3>
        <p class="footer-text">Facebook | Twitter | Instagram</p>
    </div>
    <div><p id="footer-copyright">&copy; <script>document.write(new Date().getFullYear());</script> Safari Flavors. All rights reserved.</p></div>
</footer>
</footer>
{% endblock %}