{% extends 'main.html' %}
{% block head %}
<title> About Us | SF </title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
<link rel="icon" href="img/core/foody.ico">
{% endblock %}

{% block body %}
<div class="container">
    <img src="{{ url_for('static', filename='3.jpg') }}" alt="Click me" class="cover-image">
    <div class="main">
    <div class="content">
        <p>Our website is dedicated to providing the best recipes from around Africa. We understand that food brings people together and this is our mission to bring the world closer through food.</p>

        <p>We are committed to ensuring our recipes are simple to follow, and use ingredients that are easily accessible. We hope that our website brings you joy, whether you are looking for a new recipe or seeking inspiration.</p>
    </div>

    

    <div class="newsletter-section"><div class="contact-form">
       <div class="form">
        <form>
             <h2>Contact Us</h2>
            <input type="text" name="name" placeholder="Your Name">
            <textarea name="message" rows="5" placeholder="Your Message"></textarea>
            <input type="submit" value="Submit">
        </form>
   
        
        <form>
            <h2>Subscribe to Our Newsletter</h2>
            <input type="email" name="email" placeholder="Your Email" class="input-email">
            <input type="submit" value="Subscribe">
        </form>
    </div>
    </div>
    
</div>

<hr>
</div>
{% endblock %}