{% extends 'main.html' %}

{% block head %}
<title>Safari Flavors | Home</title>
{% endblock %}

<body id="body">
    {% block body %}
    <!-- Preloader
    <div id="preloader" class="preloader">
        <i class="circle-preloader"></i>
        <img src="img/core/preloader.ico" alt="">
    </div> -->

    <!-- Header area -->
    <header id="header">
         <!-- Safari Logo --> 
         <img src="{{ url_for('static', filename='logo1.png') }}" alt="Click me" class="logo">
        <!-- Search bar -->
        <div class="search-bar">
            <input type="text" class="search-input" placeholder="Search for recipes...">
            <button class="search-btn1" alt="Search"><i class='bx bx-search'></i></button>
        </div>
   
        <!-- Website navigation -->
        <ul class="nav-list">
            <li class="nav-item"><a href="/"><h2>Home</h2></a></li>
            <li class="nav-item"><a href="/recipe/Nigeria"><h2>Recipes For You</h2></a></li>
            <li class="nav-item"><a href="/about"><h2>About Us</h2></a></li>
        </ul>
    </header>

  

    <main id="main-content">
        <!-- Categories to be delayed -->
        <div class="categories">
            <div class="category" id="ea">
                <h2 class="category-title">Eastern Africa</h2>
                <img class="category-image" src="https://afrotasty.files.wordpress.com/2020/01/east-2-east-african-food-platter_chakula-banner-1024x597-1.png?w=750" alt="Eastern Africa">
                <p>An East African Platter</p>
            </div>

            <div class="category" id="wa">
                <h2 class="category-title">Western Africa</h2>
                <img class="category-image" src="https://thumbor.bigedition.com/nyama-choma-one-of-the-most-delicious-african-food-dishes/R9LoGgHT6_eXHikjd1Jmm41fdrw=/77x0:1206x846/480x360/filters:format(webp):quality(80)/granite-web-prod/ea/b4/eab41ed11cd64a4f9bc30c6d02bca118.jpeg" alt="Western Africa">
                <p>A West African Platter</p>
            </div>
        </div>

        <div class="menu2">
     
            <div class="info">
                <div class="col01"> </div>
                    <div class="title"> 
                        <p>Hello</p>
                        <a href="{{ url_for('static', filename='') }}">
                            <img src="{{ url_for('static', filename='Nyamchom.jpg') }}" alt="Click me" class="image">
                        </a>
                    </div>
            </div>
            <div class="info">
                <div class="col01"> </div>
                    <div class="title"> 
                        <p>Hello</p>
                        <a href="{{ url_for('static', filename='') }}">
                            <img src="{{ url_for('static', filename='Nyamchom.jpg') }}" alt="Click me" class="image">
                        </a>
                    </div>
            </div>
            <div class="info">
                <div class="col01"> </div>
                    <div class="title"> 
                        <p>Hello</p>
                        <a href="{{ url_for('static', filename='') }}">
                            <img src="{{ url_for('static', filename='Nyamchom.jpg') }}" alt="Click me" class="image">
                        </a>
                    </div>
            </div>
            <div class="info">
                <div class="col01"> </div>
                    <div class="title"> 
                        <p>Hello</p>
                        <a href="{{ url_for('static', filename='') }}">
                            <img src="{{ url_for('static', filename='Nyamchom.jpg') }}" alt="Click me" class="image">
                        </a>
                    </div>
            </div>
            <div class="info">
                <div class="col01"> </div>
                    <div class="title"> 
                        <p>Hello</p>
                        <a href="{{ url_for('static', filename='') }}">
                            <img src="{{ url_for('static', filename='Nyamchom.jpg') }}" alt="Click me" class="image">
                        </a>
                    </div>
            </div>
            <div class="info">
                <div class="col01"> </div>
                    <div class="title"> 
                        <p>Hello</p>
                        <a href="{{ url_for('static', filename='') }}">
                            <img src="{{ url_for('static', filename='Nyamchom.jpg') }}" alt="Click me" class="image">
                        </a>
                    </div>
            <
            
            

                
        </div> 
        
    </div>
              
        </div>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 id="food-name" class="food-name"></h2>
                <p id="food-description" class="food-description"></p>
            </div>
        </div>

    </main>

    <h3 class="quote">One cannot think well, love well, sleep well, if one has not dined well.</h3>

    

    <footer class="footer-grid">
        <div class="footer-about">
            <h3 class="footer-title">About Us</h3>
            <p class="footer-text">Safari Flavors Family.</p>
        </div>
        <div class="footer-contact">
            <h3 class="footer-title">Contact Us</h3>
            <p class="footer-text">Email: safariflav@gmail.com</p>
        </div>
        <div class="footer-follow">
            <h3 class="footer-title">Follow Us</h3>
            <p class="footer-text">Facebook | Twitter | Instagram</p>
        </div>
        <div><p id="footer-copyright">&copy; <script>document.write(new Date().getFullYear());</script> Safari Flavors. All rights reserved.</p></div>
    </footer>
{% endblock %}
