bcrypt==4.0.1
Flask==3.0.0
Flask-Admin==1.6.1
Flask-Cors==4.0.0
Flask-JWT==0.3.2
Flask-JWT-Extended==4.5.3
flask-mongoengine @ git+https://github.com/idoshr/flask-mongoengine.git@e244408acf440c4208f7ddcd6e5d819cb472e4da
marshmallow==3.20.1
mongoengine==0.27.0
Pillow==10.1.0
PyJWT==2.8.0
pymongo==4.5.0
python-dotenv==1.0.0
