
body {
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fshef.com%2Fhomemade-food%2Fafrican-regional-cuisines%2Feast-african-food%2F&psig=AOvVaw0vMY16swMnt0B_u3NNnMOL&ust=1699028720885000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCMDHiq3dpYIDFQAAAAAdAAAAABAE');
    background-size: cover;
    opacity: 0.9;
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

#main-cotent ul {
    list-style: none;
    padding: 0;
}
#main-content ul li {
    display: inline-block;
    text-align: center;
    margin: 10px;
    width: 200px;
}

#main-content {
    display: flex;
    margin-top: 5rem;
}

.quote {
    font-style: italic;
    width: auto;
    color: #fff;
    background-color: #07070f;
}

