
body {
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fshef.com%2Fhomemade-food%2Fafrican-regional-cuisines%2Feast-african-food%2F&psig=AOvVaw0vMY16swMnt0B_u3NNnMOL&ust=1699028720885000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCMDHiq3dpYIDFQAAAAAdAAAAABAE');
    background-size: cover;
    opacity: 0.9;
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}
:root {
    --background-color-light: rgb(199, 190, 190);
    --color-orange: orange;
    --button-hover: rgb(255, 140, 0);
    --nav-header-color: rgb(255, 102, 0);
    --btn-transition: 0.1s ease-out;
    --search-background-color: rgb(249, 238, 216);
    --outline: 1px solid black;
    --black:  black;
}
#main-cotent ul {
    list-style: none;
    padding: 0;
}
#main-content ul li {
    display: inline-block;
    text-align: center;
    margin: 10px;
    width: 200px;
}

#main-content {
    display: flex;
    margin-top: 5rem;
}

.quote {
    font-style: italic;
    width: auto;
    color: #fff;
    background-color: #07070f;
}
.content{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-gap: 10px; /* Gap between items */
    background: #a8a8a8;
    height: 100%;
   
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid with minimum column width of 250px */
    gap: 20px; /* Gap between grid items */
    padding: 20px;
}

/* Style for each grid item */
.grid-item {
   background-color: #ffffff;
  
    padding: 15px;
    text-align: center;
}

/* Style for the image inside each grid item */
.grid-item img {
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px;
    box-shadow: 1px 1px 10px black;
    margin-top: 10px;
}
.grid-item h2 {

}

/* Style for the description link inside each grid item */
.grid-item a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

/* Hover effect for the description link */
.grid-item a:hover {
    color: #db8534;
}

