body {
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fshef.com%2Fhomemade-food%2Fafrican-regional-cuisines%2Feast-african-food%2F&psig=AOvVaw0vMY16swMnt0B_u3NNnMOL&ust=1699028720885000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCMDHiq3dpYIDFQAAAAAdAAAAABAE');
    background-size: cover;
    opacity: 0.9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 12px 2px;
    text-align: center;
}

.site-title {
    float: left;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.nav-item img {
    width: 50px; 
    height: 50px; 
}
.nav-item {
    margin: 0 10px;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-radius: 25px;
}

.search-input {
    width: 200px;
    padding: 10px 10px;
    border-radius: 30px;
    outline: none;
    border: none;
    border-radius: 50px 0px 0 50px ;
    padding:10px 10px ;
    border: none;
}

.search-btn{
    border-radius: 0 50px 50px 0;
    margin-left: -6px;
    padding: 10px 10px;
    background-color: rgb(243, 238, 235);
    border: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    }
.categories, .images {
    width: 50%;
    padding: 10px;
}
.category {
    display: inline-block;
    margin: 5px;
}
.country {
    display: inline-block;
    margin: 5px;
}
.category-item, .country-item {
        display: inline-block;
        padding: 5px;
        cursor: pointer;
}
.food-container {
    margin-left: 20px; 
}

.food-image {
    width: 200px; 
    height: 200px; 
}
.food-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px; 
}
.quote{
    text-align: center;
    margin: 20px 0;
    font-size: large;
    font-style: italic;
}

.footer-grid {
    background-color: #333;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 0;
    text-align: center;
}

.footer-title {
    margin-bottom: 10px;
}

.footer-about,
.footer-contact,
.footer-follow {
    grid-column: span 1;
}

.footer-text {
    grid-column: 1 / span 3;
    text-align: center;
    
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #f5f5dc; 
    min-height: auto;
}
footer>p{
    position: relative;
    text-align: center;
    margin: auto;
}